<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FirstImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\FirstFloor\FirstMonster.png" />
    <add key="SecondImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\FirstFloor\SecondMonster.png" />
    <add key="ThirdImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\FirstFloor\ThirdMonster.jpg" />
    <add key="FourthImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\FirstFloor\ForthMonster.jpg" />
    <add key="FifthImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\FirstFloor\FifthMonster.jpg" />
    <add key="FirstBossImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\Boss\FirstBoss.jpg" />
    <add key="SecondBossImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\Boss\SecondBoss.jpg" />
    <add key="ThirdBossImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\Boss\ThirdBoss.jpg" />
    <add key="FourthBossImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\Boss\FourthBoss.png" />
    <add key="FinalBossImage" value="C:\Users\jakub\Source\Repos\Cookie Clicker\Cookie Clicker\images\Boss\FinalBoss.jpg" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>